$tablet-breakpoint: 692px;
$laptop-breakpoint: 924px;
$desktop-breakpoint: 1280px;
$bigdesktop-breakpoint: 1440px;
$biggestdesktop-breakpoint: 2560px;

$p-black: #323232;
$s-black: #000000;

$p-blue: #152938;
$s-blue: #304859;
$blue-hover: #6395B8;
$blue-idle: #BCCED9;
$blue-labels: #7191A5;
$s-idle: #DFE7EC;

$p-gray: #F2F2F2;
$s-gray: #FCFCFC;
$container: #979797;