$tablet-breakpoint: 692px;
$laptop-breakpoint: 924px;
$desktop-breakpoint: 1280px;
$bigdesktop-breakpoint: 1440px;
$biggestdesktop-breakpoint: 2560px;

$p-black: #151515;
$s-black: #242424;

$p-green: #4EE1A0;
$p-white: #FFFFFF;
$p-grey: #D9D9D9;